<!DOCTYPE html>

<html xmlns:th="http:/>/www.thmeleaf.org">

    <nav class="navbar navbar-expand-lg navbar-dark bg-danger ">
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <p style="vertical-align:bottom">
                        <h3>Home</h3>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Cases" class="nav-link active">
                        <p style="vertical-align:bottom">
                        <h3>Confirmed Cases</h3>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Deaths" class="nav-link">
                        <p style="vertical-align:bottom">
                        <h3>Confirmed Deaths</h3>
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <head>
        <title>U.S. Coronavirus Confirmed Cases by County</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <h1 style="text-align:center">U.S. Coronavirus Confirmed Cases by County</h1>

            <div class="jumbotron bg-dark text-white">
                <h1 class="display-4" style="text-align:center" th:text="${totalNewCases}"></h1>
                <p class="lead" style="text-align:center">Total reported cases as of today</p>
                <hr class="my-4">
                <h1 class="display-4" style="text-align:center" th:text="${todayYesterdayDiff}"></h1>
                <p class="lead" style="text-align:center">New cases reported since previous day</p>
            </div>

            <table class="table table-sm table-hover table-dark">
                <tr>
                    <th style="text-align:center"><h4>County, State</h4></th>
                    <th style="text-align:center"><h4>Total Cases Reported</h4></th>
                    <th style="text-align:center"><h4>New Cases Today</h4></th>
                </tr>
                <tr th:each="data : ${locationData}">
                    <td style="text-align:center" th:text="${data.countyAndState}"></td>
                    <td style="text-align:center" th:text="${data.totalCasesReported}">0</td>
                    <td style="text-align:center" th:text="${data.currentAndPrevDiff}">0</td>
                </tr>
            </table>
        </div>
    </body>

    <style>
        body {
            background-image: url('coronavirus.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            color:white;
        }

        h1 {
            color: white
        }
    </style>
</html>