<!DOCTYPE html>

<html xmlns:th="http:/>/www.thmeleaf.org">

    <head>
        <title>U.S. Coronavirus Statistics by County</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    </head>

    <body>
        <div class="container">
            <h1>Covid-19 Data By U.S. County</h1>

            <div class="jumbotron">
                <h1 class="display-4" th:text="${totalNewCases}"></h1>
                <p class="lead">Total reported cases as of today</p>
            </div>

            <table class="table">
                <tr>
                    <th>County, State</th>
                    <th>Total Cases Reported</th>
                </tr>
                <tr th:each="data : ${locationData}">
                    <td th:text="${data.countyAndState}"></td>
                    <td th:text="${data.totalCasesReported}">0</td>
                </tr>
            </table>
        </div>
    </body>
</html>